body {
  margin: 0;
  font-family: monospace;
  text-align: center;
  background-color: #white;
  background-image: url("resources/skyline-white.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size:50% 50%;
}


.nav {
  overflow: hidden;
  background-color:#2C3D55;
}
#home{
  content: url('resources/pixil-earth.png');
  width: 1.2em;
  height: 1.2em;
}
h1{
  text-align: center;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #F3F9D2;
  color: black;
}

.nav a.active {
  background-color: #6A687A;
  color: white;
}

table, tr {
  border: 2px solid #666a86;
  border-collapse: collapse;
  background-color: #ffffff;
}

th{
  width: 10em; 
  /* text-align: right; */
}

#Ranking, #Transparency, #Emissions, #Overall{
  text-align: right;
  width: 8em
}

td{
  width: 10em; 
  text-align: right;
  
}

table.leaderboard {
  margin-left: auto; 
  margin-right: auto;
  width: 700px;

}

.leaderboard tr:hover{
  background-color: #b2c9ab;
}


.scoreBtn {
background-color:#333;
border:3px solid #92b6b1;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Courier New;
  padding:.5em;
text-decoration:none;
  text-shadow:0px 1px 50px #2f6627;
  margin: 1em auto;
  text-align: center;
  display: block;
  width: 200px;  
}
.scoreBtn:hover {
  background-color:#b2c9ab;
}
.scoreBtn:active {
position:relative;
top:1px;
}

.fixed-bg{
  background-color: #666a86;
  background-attachment: fixed;
  background-position: center bottom;
  background-size:100% 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #2C3D55;
  color: white;
  text-align: center;
}

.modal {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.message {
  font-size:1.1rem;
  margin-top: 0;
}

.bold{
  font-weight: bold;
}

.btn {
  color:inherit;
    font-family:inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.btn:last-child {
  margin: 0;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.leaderboard tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 200px;
}
.leaderboard thead tr {
  display: block;
  background-color:  #666a86;
  color: #fff;

}

