/* color scheme
black: #000000
navy: #14213D
orange: #FCA311
grey: #E5E5E5
white: #FFFFFF
 */

body {
  margin: 0;
  font-family: 'monaco';
  background-color: #E5E5E5;
  /* background-image: url("resources/skyline-white.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size:50% 50%; */
}

.nav {
  overflow: hidden;
  background-color:#14213D;
}
/* #home{
  content: url('resources/pixil-earth.png');
  width: 1.2em;
  height: 1.2em;
} */

h1{
  text-align: center;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #FCA311;
  color: black;
}

.nav a.active {
  background-color:#FCA311;
  color: white;
}

#header {
  text-align: center;
}

.headshot {
  display: flex;
  justify-content: center;
}

.headshot img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: auto;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

#about {
  padding: 0 8rem 8rem 8rem;
}

#projects {
  padding: 0 8rem 8rem 8rem;
}

#project-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

a {
  color:#14213D;
}

a:hover {
  color: #FCA311
}

#training-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

#contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #2C3D55;
  color: white;
  text-align: center;
}
